USE [master]
GO
/****** Object:  Database [a07_DTGiang_FCPMS]    Script Date: 9/9/2024 4:02:32 PM ******/
CREATE DATABASE [a07_DTGiang_FCPMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'a07_DTGiang_FCPMS', FILENAME = N'D:\storage-sql\a07_DTGiang_FCPMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'a07_DTGiang_FCPMS_log', FILENAME = N'D:\storage-sql\a07_DTGiang_FCPMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [a07_DTGiang_FCPMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [a07_DTGiang_FCPMS]
GO
/* Create Tables */
/****** Object:  Table [dbo].[BANGCHAMCONG]    Script Date: 9/9/2024 4:02:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGCHAMCONG](
	[msns] [nchar](20) NOT NULL,
	[msky] [nchar](20) NOT NULL,
	[songaychuan] [float] NULL,
	[songaylv] [int] NULL,
	[ghichu] [nvarchar](50) NULL,
 CONSTRAINT [PK_BANGCHAMCONG] PRIMARY KEY CLUSTERED 
(
	[msns] ASC,
	[msky] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTKCONG]    Script Date: 9/9/2024 4:02:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTKCONG](
	[msphieu] [nchar](20) NOT NULL,
	[mskcong] [nchar](20) NOT NULL,
	[hs] [float] NULL,
 CONSTRAINT [PK_CTKCONG] PRIMARY KEY CLUSTERED 
(
	[msphieu] ASC,
	[mskcong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTKTRU]    Script Date: 9/9/2024 4:02:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTKTRU](
	[msphieu] [nchar](20) NOT NULL,
	[msktru] [nchar](20) NOT NULL,
	[hs] [float] NULL,
 CONSTRAINT [PK_CTKTRU] PRIMARY KEY CLUSTERED 
(
	[msphieu] ASC,
	[msktru] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DMCM]    Script Date: 9/9/2024 4:02:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMCM](
	[mscm] [nchar](20) NOT NULL,
	[tencm] [nvarchar](50) NULL,
	[hs] [float] NULL,
	[ghichu] [nvarchar](150) NULL,
 CONSTRAINT [PK_DMCM] PRIMARY KEY CLUSTERED 
(
	[mscm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DMCV]    Script Date: 9/9/2024 4:02:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMCV](
	[mscv] [nchar](20) NOT NULL,
	[tencv] [nvarchar](50) NULL,
	[hs] [float] NULL,
	[ghichu] [nvarchar](150) NULL,
 CONSTRAINT [PK_DMCV] PRIMARY KEY CLUSTERED 
(
	[mscv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DMDV]    Script Date: 9/9/2024 4:02:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMDV](
	[msdv] [nchar](20) NOT NULL,
	[tendv] [nvarchar](50) NULL,
	[hs] [float] NULL,
	[ghichu] [nvarchar](150) NULL,
 CONSTRAINT [PK_DMDV] PRIMARY KEY CLUSTERED 
(
	[msdv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DMKCONG]    Script Date: 9/9/2024 4:02:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMKCONG](
	[mskcong] [nchar](20) NOT NULL,
	[tenkcong] [nvarchar](50) NULL,
	[sotien] [int] NULL,
	[ghichu] [nvarchar](150) NULL,
 CONSTRAINT [PK_DMKCONG] PRIMARY KEY CLUSTERED 
(
	[mskcong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DMKTRU]    Script Date: 9/9/2024 4:02:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMKTRU](
	[msktru] [nchar](20) NOT NULL,
	[tenktru] [nvarchar](50) NULL,
	[sotien] [int] NULL,
	[ghichu] [nvarchar](150) NULL,
 CONSTRAINT [PK_DMKTRU] PRIMARY KEY CLUSTERED 
(
	[msktru] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DMNS]    Script Date: 9/9/2024 4:02:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMNS](
	[msns] [nchar](20) NOT NULL,
	[tenns] [nvarchar](50) NULL,
	[nu] [bit] NULL,
	[ngaysinh] [date] NULL,
	[ngaytuyen] [date] NULL,
	[sodt] [nchar](20) NULL,
	[hinh] [nchar](100) NULL,
	[mscm] [nchar](20) NULL,
	[mstd] [nchar](20) NULL,
	[mscv] [nchar](20) NULL,
	[msdv] [nchar](20) NULL,
 CONSTRAINT [PK_DMNS] PRIMARY KEY CLUSTERED 
(
	[msns] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DMTD]    Script Date: 9/9/2024 4:02:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMTD](
	[mstd] [nchar](20) NOT NULL,
	[tentd] [nvarchar](50) NULL,
	[hs] [float] NULL,
	[ghichu] [nvarchar](150) NULL,
 CONSTRAINT [PK_DMTD] PRIMARY KEY CLUSTERED 
(
	[mstd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KYLUONG]    Script Date: 9/9/2024 4:02:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KYLUONG](
	[msky] [nchar](20) NOT NULL,
	[nam] [int] NULL,
	[thang] [int] NULL,
	[ghichu] [nvarchar](50) NULL,
 CONSTRAINT [PK_KYLUONG] PRIMARY KEY CLUSTERED 
(
	[msky] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEULUONG]    Script Date: 9/9/2024 4:02:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEULUONG](
	[msphieu] [nchar](20) NOT NULL,
	[msns] [nchar](20) NULL,
	[msky] [nchar](20) NULL,
	[mucluong] [float] NULL,
	[tonghs] [float] NULL,
	[ghichu] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHIEULUONG] PRIMARY KEY CLUSTERED 
(
	[msphieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/* Lệnh tạo mối liên kêt */
ALTER TABLE [dbo].[BANGCHAMCONG]  WITH CHECK ADD  CONSTRAINT [FK_BANGCHAMCONG_DMNS] FOREIGN KEY([msns])
REFERENCES [dbo].[DMNS] ([msns])
GO
ALTER TABLE [dbo].[BANGCHAMCONG] CHECK CONSTRAINT [FK_BANGCHAMCONG_DMNS]
GO
ALTER TABLE [dbo].[BANGCHAMCONG]  WITH CHECK ADD  CONSTRAINT [FK_BANGCHAMCONG_KYLUONG] FOREIGN KEY([msky])
REFERENCES [dbo].[KYLUONG] ([msky])
GO
ALTER TABLE [dbo].[BANGCHAMCONG] CHECK CONSTRAINT [FK_BANGCHAMCONG_KYLUONG]
GO
ALTER TABLE [dbo].[CTKCONG]  WITH CHECK ADD  CONSTRAINT [FK_CTKCONG_DMKCONG] FOREIGN KEY([mskcong])
REFERENCES [dbo].[DMKCONG] ([mskcong])
GO
ALTER TABLE [dbo].[CTKCONG] CHECK CONSTRAINT [FK_CTKCONG_DMKCONG]
GO
ALTER TABLE [dbo].[CTKCONG]  WITH CHECK ADD  CONSTRAINT [FK_CTKCONG_PHIEULUONG] FOREIGN KEY([msphieu])
REFERENCES [dbo].[PHIEULUONG] ([msphieu])
GO
ALTER TABLE [dbo].[CTKCONG] CHECK CONSTRAINT [FK_CTKCONG_PHIEULUONG]
GO
ALTER TABLE [dbo].[CTKTRU]  WITH CHECK ADD  CONSTRAINT [FK_CTKTRU_DMKTRU] FOREIGN KEY([msktru])
REFERENCES [dbo].[DMKTRU] ([msktru])
GO
ALTER TABLE [dbo].[CTKTRU] CHECK CONSTRAINT [FK_CTKTRU_DMKTRU]
GO
ALTER TABLE [dbo].[CTKTRU]  WITH CHECK ADD  CONSTRAINT [FK_CTKTRU_PHIEULUONG] FOREIGN KEY([msphieu])
REFERENCES [dbo].[PHIEULUONG] ([msphieu])
GO
ALTER TABLE [dbo].[CTKTRU] CHECK CONSTRAINT [FK_CTKTRU_PHIEULUONG]
GO
ALTER TABLE [dbo].[DMNS]  WITH CHECK ADD  CONSTRAINT [FK_DMNS_DMCM] FOREIGN KEY([mscm])
REFERENCES [dbo].[DMCM] ([mscm])
GO
ALTER TABLE [dbo].[DMNS] CHECK CONSTRAINT [FK_DMNS_DMCM]
GO
ALTER TABLE [dbo].[DMNS]  WITH CHECK ADD  CONSTRAINT [FK_DMNS_DMCV] FOREIGN KEY([mscv])
REFERENCES [dbo].[DMCV] ([mscv])
GO
ALTER TABLE [dbo].[DMNS] CHECK CONSTRAINT [FK_DMNS_DMCV]
GO
ALTER TABLE [dbo].[DMNS]  WITH CHECK ADD  CONSTRAINT [FK_DMNS_DMDV1] FOREIGN KEY([msdv])
REFERENCES [dbo].[DMDV] ([msdv])
GO
ALTER TABLE [dbo].[DMNS] CHECK CONSTRAINT [FK_DMNS_DMDV1]
GO
ALTER TABLE [dbo].[DMNS]  WITH CHECK ADD  CONSTRAINT [FK_DMNS_DMTD] FOREIGN KEY([mstd])
REFERENCES [dbo].[DMTD] ([mstd])
GO
ALTER TABLE [dbo].[DMNS] CHECK CONSTRAINT [FK_DMNS_DMTD]
GO
ALTER TABLE [dbo].[PHIEULUONG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEULUONG_BANGCHAMCONG] FOREIGN KEY([msns], [msky])
REFERENCES [dbo].[BANGCHAMCONG] ([msns], [msky])
GO
ALTER TABLE [dbo].[PHIEULUONG] CHECK CONSTRAINT [FK_PHIEULUONG_BANGCHAMCONG]
GO
ALTER TABLE [dbo].[PHIEULUONG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEULUONG_DMNS] FOREIGN KEY([msns])
REFERENCES [dbo].[DMNS] ([msns])
GO
ALTER TABLE [dbo].[PHIEULUONG] CHECK CONSTRAINT [FK_PHIEULUONG_DMNS]
GO
ALTER TABLE [dbo].[PHIEULUONG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEULUONG_KYLUONG] FOREIGN KEY([msky])
REFERENCES [dbo].[KYLUONG] ([msky])
GO
ALTER TABLE [dbo].[PHIEULUONG] CHECK CONSTRAINT [FK_PHIEULUONG_KYLUONG]
GO
USE [master]
GO
